ipyleaflet>=0.14.0
ipywidgets>=7.7.1


psycopg2-binary>=2.9.3
pymysql>=1.0.2
python-dotenv>=0.20.0
requests>=2.27.1


sqlalchemy>=2.0.38
sympy>=1.10.1
xgboost

matplotlib

streamlit
pandas
numpy
scikit-learn
statsmodels
pickle-mixin